<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
  <h1 class="title">Forms</h1>
</header>

<div class='content'>
  <form>
    <input type="text" placeholder="Full name">
    <input type="search" placeholder="Search">
    <textarea rows="5"></textarea>
    <button class="btn btn-positive btn-block">Choose existing</button>
  </form>

  <p class="content-padded">with groups</p>
  <form>
    <div class="input-group">
      <input type="text" placeholder="Full name">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Username">

    </div>
  </form>

  <p class="content-padded">with labels</p>
  <form class="input-group">
    <div class="input-row">
      <label>Full name</label>
      <input type="text" placeholder="Mister Ratchet">
    </div>
    <div class="input-row">
      <label>Email</label>
      <input type="email" placeholder="ratchetframework@gmail.com">
    </div>
    <div class="input-row">
      <label>Username</label>
      <input type="text" placeholder="goRatchet">
    </div>
  </form>
</div>
