<header class="bar bar-nav">
  <a class="icon icon-refresh pull-right"></a>
  <h1 class="title">Mailboxes</h1>
</header>

<div class="bar bar-footer">
  <a class="icon icon-compose pull-right" href="#composeModal"></a>
  <small class="updated-text" style="position: absolute; left: 0; right: 0; padding: 10px 0; font-size: 11px; text-align: center;">Updated just now</small>
</div>

<div class="content">

  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right" href="test.html" data-transition="slide-in">
        <span class="media-object icon icon-info pull-left"></span>
        <div class="media-body">
          Cards & Tabbar
        </div>
      </a>
    </li>

    <li class="table-view-cell media">
      <a class="navigate-right" href="tables.html" data-transition="fade">
        <span class="media-object icon icon-list pull-left"></span>
        <div class="media-body">
          Tables & Toolbars
        </div>
      </a>
    </li>

    <li class="table-view-cell">
      <a class="navigate-right" href="forms.html" data-transition="slide-in">Forms</a>
    </li>

    <li class="table-view-cell">
      <a class="navigate-right" href="popovers.html" data-transition="slide-in">Popovers (doesn't work)</a>
    </li>
  </ul>

  <h5 class="content-padded">Other stuff</h5>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right" href="icons.html" data-transition="slide-in">
        <span class="media-object icon icon-more pull-left"></span>
        <div class="media-body">
          Icons
        </div>
      </a>
    </li>
  </ul>
</div>


<div id="composeModal" class="modal">
  <header class="bar bar-nav">
    <a class="btn btn-link pull-right" href="#composeModal">
      <strong>Send</strong>
    </a>
    <a class="btn btn-link pull-left" href="#composeModal">
      Cancel
    </a>
    <h1 class="title">New message</h1>
  </header>

  <div class="content">
    <form class="input-group">
      <input type="text" placeholder="To:">
      <input type="email" placeholder="From:">
      <input type="text" placeholder="Subject:">
      <textarea rows="20"></textarea>
    </form>
  </div>
  </div>

</div>
