<div id="popover" class="popover">
  <header class="bar bar-nav">
    <h1 class="title">Popover title</h1>
  </header>
  <ul class="table-view">
    <li class="table-view-cell">Item1</li>
    <li class="table-view-cell">Item2</li>
    <li class="table-view-cell">Item3</li>
    <li class="table-view-cell">Item4</li>
    <li class="table-view-cell">Item5</li>
  </ul>
</div>

<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
  <a href="#myPopover">
    <h1 class="title">
      Open Popover
      <span class="icon icon-caret"></span>
    </h1>
  </a>
</header>
