<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
  <h1 class="title">Table Views</h1>
</header>

<div class="bar bar-standard bar-footer-secondary">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>Left
  </button>
  <a class="icon icon-compose pull-right"></a>
  <h1 class="title">Icons</h1>
</div>

<div class="bar bar-standard bar-footer">
  <button class="btn pull-left">Left</button>
  <button class="btn pull-right">Right</button>
  <h1 class="title">Buttons</h1>
</div>

<div class='content'>
  <p class="content-padded">table view outside of a card</p>
  <ul class="table-view">
    <li class="table-view-cell">Regular text here</li>
    <li class="table-view-cell"><strong>Bold text here</strong></li>
    <li class="table-view-cell">
      <a class="push-right">
        <strong>Bold text within a link</strong>
      </a>
    </li>
    <li class="table-view-divider">links</li>
    <li class="table-view-cell">
      <a><strong>Link Item without a Chevron</strong></a>
    </li>
    <li class="table-view-cell">
      <a class="push-right"><strong>Link Item with a Chevron</strong></a>
    </li>
    <li class="table-view-cell">Item with badge <span class="badge">123</span></li>
    <li class="table-view-cell">
      <a class="navigate-right">
        Item with badge and chevron<span class="badge">5</span>
      </a>
    </li>
    <li class="table-view-divider">controls</li>
    <li class="table-view-cell">Item 2 <button class="btn btn-primary">Button</button></li>
    <li class="table-view-cell">Item 3 <button class="btn btn-positive">Button</button></li>
    <li class="table-view-cell">Item 4 <button class="btn btn-negative">Button</button></li>
    <li class="table-view-cell">
      Item 1 <div class="toggle"><div class="toggle-handle"></div></div>
    </li>
    <li class="table-view-cell">
      Item 2 <div class="toggle active"><div class="toggle-handle"></div></div>
    </li>
  </ul>

  <p class="content-padded">table view with media</p>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right">
        <img class="media-object pull-left" src="http://placehold.it/42x42">
        <div class="media-body">
          Placeholder
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <img class="media-object pull-left" src="images/App Symbol Filled-100.png" height='42' width='42'>
        <div class="media-body">
          App Symbol
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <img class="media-object pull-left" src="images/Black Hat Filled-100.png" height='42' width='42'>
        <div class="media-body">
          Black Hat
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </div>
      </a>
    </li>
  </ul>

  <p class="content-padded">table view with icons</p>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right">
        <span class="media-object pull-left icon icon-trash"></span>
        <div class="media-body">
          Item 1
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <span class="media-object pull-left icon icon-gear"></span>
        <div class="media-body">
          Item 2
        </div>
      </a>
    </li>
    <li class="table-view-cell media">
      <a class="navigate-right">
        <span class="media-object pull-left icon icon-pages"></span>
        <div class="media-body">
          Item 3
        </div>
      </a>
    </li>
  </ul>

  <p class="content-padded">table below is within the card</p>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell"><strong>First Item</strong></li>
      <li class="table-view-cell"><strong>Second Item</strong></li>
    </ul>
  </div>
</div>
