<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="index.html" data-transition="slide-out"></a>
  <a class="icon icon-compose pull-right"></a>
  <h1 class="title">Ratchet Demo</h1>
</header>

<div class="bar bar-standard bar-header-secondary">
  <button class="btn pull-left">Left</button>
  <button class="btn pull-right">Right</button>
  <div class="segmented-control">
    <a class="control-item active">One</a>
    <a class="control-item">Two</a>
    <a class="control-item">Three</a>
  </div>
</div>

<nav class="bar bar-tab">
  <a class="tab-item active" href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="#">
    Text only
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Favorites</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
</nav>

<div class="content">

  <p class="content-padded">Some cards</p>

  <div class="card">
    <p class="content-padded">This is a card. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
  </div>

  <div class="card">
    <p class="content-padded">Another card. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
  </div>

</div>
